* {
    margin: 0;
    padding: 0;
}
.containter {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .side-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position:fixed; */
    height: 100vh;
    width: 300px;
    border-right: 1px solid #eff3f4;
    font-size: 15px;
    color: #0f1419;
    
  }

  .side-bar .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 50px;
}

.nav-bar .logo {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: -78px;
    height: 60px;
}

.logo img {
    width: 32px;
    margin-left: -20px;
}

.side-bar .nav-bar .nav-items {
    font-weight: 400;
}

.nav-item {
    cursor: pointer;
    margin-bottom: 10px;
}

.nav-item:active, .nav-item:hover{
   font-weight: bold;
   color: #000000;
   background-color: #e6e6e6;
   border-radius: 25px;
}


i {
    margin: 0 20px 0 15px;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 700;
}

.tweet {
    border-radius: 999px 999px 999px 999px;
    line-height: 20px;
    font-weight: 700;
    height: 46px;
    width: 188px;
    background-color: #1d9bf0;
    color: #ffffff;
    margin: 0 0 20px 20px;
}


.profile-actions {
    height: calc(100vh - 93%);
    margin-bottom: 50px;
}

.profile-actions .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-top: 25px;
    font-size: 0.75rem;
    cursor: pointer;
}

.profile-actions .profile img {
    height: 40px;
    width: 40px;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    margin: 15px;
}

.profile-actions .profile span{
   display: flex;
   flex-direction: column;
   margin-right: 30px;
   color: #aaa;
}

.profile-actions .profile .name {
    font-weight: 600;
    color: #000000;
}


.profile:hover {
    background-color: #e6e6e6;
    border-radius: 999px 999px 999px 999px;
}

/* main container style */

  .main-container {
    flex: 2;
    margin-right: auto;
    margin-left: auto;
    border-right: 1px solid #000000;
    font-size: 15px;
    color: #0f1419;
    
  }

  .main-container .home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 95px;
    width: 510px;
    border-bottom: 1px solid #eff3f4;;
}
.home h5 {
    padding: 2px 16px 2px 16px;
    color: #0f1419;
    font-weight: 700;
}

.main-container .content {
    width: 100%;
    display: flex;
    font-weight: 500;
    color: #536471;
}

.home .content span{
    display:flex;
    justify-content: space-evenly;
    width: 50%;
    word-wrap: break-word;
    line-height: 50px; 
}


.content span:hover {
    font-weight: bold;
    color: #000000;
    background-color: #e6e6e6;
 }

.home .post-tweet{
   display: flex;
   font-size: 17px;
   font-weight: 400;
   color: #536471;
} 

.home .post-tweet img {
    height: 40px;
    width: 40px;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    margin: 12px;
    cursor: pointer;
}

.home .post-tweet .post-tweet-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
}

.post-tweet-details .tweet-icons {
    margin-top: 15px;
    margin-right: 20px;
    color: #1d9bf0;
    cursor: pointer;
    font-weight: 700;
}

.tweet-icons span{
    margin-right: 10px;
    line-height: 35px;
}

.post-tweet-details button {
   position: relative;
   left: 350px;
   top: -35px;
   height: 35px;
   width: 80px;
   border-radius: 25px 25px 25px 25px;
   font-weight: 600;
   background-color: #1d9bf0;
   opacity: 0.5; 
}

  /* trending container*/
  .trending-container {
    flex: 2;
    
  }
